@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
body
{
    margin-top: 7.5%;
    background-color: lightpink;
}

h1
{
    font-family: "Caveat", sans-serif;
    text-align: center;
    font-size: 550%;
    color: maroon;
    
}

.heart_background
{
    position: fixed;
    top: -60%;
    left: -60%;
    width: 220%;
    height: 220%;
    background-image: url(pictures/hearts2.gif);
    opacity: 0.2;
    transform: rotate(20deg) scale(0.75);
    transform-origin: center;
    z-index: -1; 
}

p
{
    margin-top: 7.5%;
    margin-bottom:20%;
    margin-left: 25%;
    margin-right: 25%;

    background-color: thistle;
    border-color: white;
    border-style: solid;
    border-width: 10px;
    border-radius: 10px;
    padding: 50px;

    font-family: "Caveat", sans-serif;
    font-weight: 600;
    font-size: 30px;

    box-shadow: 0px 0px 25px;
    opacity: 0;
    transition: 600ms ease;
}

p.show
{
    opacity: 1;
}

audio
{
    display: none;
}

.pictures
{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    align-content: flex-start;
    column-gap: 25%;
    row-gap: 10em;
    margin-bottom: 20%;

}
.image
{
    margin-left: 40px;
    width:500px;
    height:650px;
    text-align: center;
    box-shadow: 0px 0px 30px black;
}
#left1
{
    margin-left: 20%;
}

#left2
{
    margin-left: 20%;
}

.family_message
{
    margin-top: 7.5%;
    margin-bottom:20%;
    margin-left: 5%;
    width: 25%;
    
}


#family1
{
    position: absolute;
    right: 20%;
    width: 35%;
    box-shadow: 0px 0px 30px black;
}

#family2
{   
    position: absolute;
    right: 5%;
    top: 70%;
    height: 65%;
    box-shadow: 0px 0px 30px black;
}

#fam_msg_2
{
    position: absolute;
    right: 1%;
    bottom: -90%;
    width: 20%;
}

#prom1
{
    position: absolute;
    width: 35%;
    right: 10%;
    box-shadow: 0px 0px 30px black;
}

#prom2
{
    position: absolute;
    width: 23.5%;
    right: 5%;
    top: 110%;
    box-shadow: 0px 0px 30px black;
}

#prom3
{
    position: absolute;
    width: 23.5%;
    right: 32.5%;
    top: 75%;
    box-shadow: 0px 0px 30px black;
}

.side_message
{
    margin-top: 10%;
    margin-bottom: 0%;

}

#side1
{
    position: absolute;
    left: 45%;
    top: 120%;
     box-shadow: 0px 0px 30px black;
}

#side2
{
    position: absolute;
    right: 5%;
    top: 90%;
    box-shadow: 0px 0px 30px black;
}

.together_message1
{
    position: absolute;
    width: 30%;
    right: 30%;

}

#vinyl
{
    position: absolute;
    right: 15%;
    top: 25%;
    border-radius: 175%;
}

#last
{
    position: absolute;
    margin-top: 35%;
    margin-bottom: 10%;
}

img
{
    opacity: 0;
    transition: 600ms ease;    
}

img.show
{
    opacity: 1;
}


